{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/alpha.spec {:git/url "https://github.com/clojure/spec-alpha2.git" 
                                :sha "495e5ac3238be002b4de72d1c48479f6bec06bb3"}}}
